.iconS{
  width: 5rem;
  margin-right: 6em;
}

#iconBar{
  width: 140px;
  padding-top: 500px;
  padding-left: 40px;
}

table{
  background-color: #122a5c;
}

.card{
  transition: 0.3s;
}

.card:hover{
  box-shadow: 0 0 10px #122a5c;
  background-color: #122a5c;
  color: white;
  transform: translate(0, -10px);
}

#drop{
  margin-left: 320px;
}

#formularioAgregarLibros {
  display: none;
}

#sideList{
  color: #122a5c;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: 0.3s;
}

#sideList:hover{
  background-color: #122a5c;
  color: #f3f3f3;
  transform: translate(-10px, 0px);
}

#dropdownSide{
  background-color: #122a5c;
}

#cerrarFormulario{
  /* font-size: 1.3em; */
  margin-left: 170px;
  margin: 20px;
}

#abrirFormulario{
  font-size: 1.3em;
  margin-left: 10px;
  margin: 20px;
}

#buscar{
  width: 1200px;
  font-size: 1.5em;
  border: 2px solid #122a5c;
}

#productosCard{
  width: 10em;
  background-color: #122a5c;
}

#carrito{
  padding-top: 130px;
}

#carritoCard{
  height: 130vh;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #122a5c;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 2px solid #40567e;
}

.sidebar a {
  display: block;
  color: #f3f3f3;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px;
  padding: 16px;
  text-decoration: none;
  border: 2px solid #122a5c;
}

.sidebar a.active {
  background-color: #f3f3f3;
  color: #122a5c;
}

.sidebar a:hover:not(.active) {
  background-color: #f3f3f3;
  color: #122a5c;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#carritoCard {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin-right: 30px;
  text-align: center;
  box-shadow: 0 0 10px #122a5c;
  position: fixed;
}

#listaProductos {
  list-style: none;
  padding: 70px;
}

#listaProductos li {
  margin-bottom: 10px;
}

#total {
  font-weight: bold;
  font-size: 20px;
}

#botonPagar{
  width: 350px;
}

#pagarBtn {
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: #122a5c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#pagarBtn:hover {
  background-color: #0056b3;
}

#productosCard {
  max-width: 100px;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #122a5c;
  z-index: 1000;
}

.formulario-agregar-productos {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  background-color: #122a5c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  z-index: 1001;
  color: white;  
}

.formulario-agregar-productos h2 {
  margin-bottom: 10px;
}

.form-control, .form-select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.formulario-agregar-servicios{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  background-color: #122a5c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  z-index: 1001;
  color: white;  
}

.formulario-agregar-servicios h2 {
  margin-bottom: 30px;
}

#cerrarFormulario{
  width: 100px;
}

#registrarFormulario{
  width: 100px;
  height: 45px;
  font-size: 20px;
}

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    #ppa{
      width: 60%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }